 <div class="container-fluid mobile__set">
        <div class="row">
            <div class="loginBox signup2 shadow-z-1">
                <div class="loginBox__div1">
                    <h3 class="text-center loginBox__h">Sign up as a provider</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        </div>
                    </div>
                    <form class="form-horizontal company">
                        <div class="group">
                            <i class="fa fa-building-o"></i>
                            <input type="text" required/>
                            <span class="bar"></span>
                            <label>Company Name</label>
                        </div>
                        <div class="group">
                            <i class="fa fa-phone"></i>
                            <input type="text" required />
                            <span class="bar"></span>
                            <label>Contact(e.g. +66 2280 0832)</label>
                        </div>
                        <h5 class="text-left loginBox__p2">Create your unique Ithaka web identity</h5>
                        <i class="fa fa-globe signup2__icon"></i>
                        <p class="text-left loginBox__p1">ithaka.travel/</p>
                        <div class="form-group input__half">
                            <input placeholder="company" type="text" required/>
                            <span class="bar"></span>
                        </div>
                    </form>
                    <div class="container-fluid">
                        <div class="row" style="padding-bottom:10px;position:relative;top:45px;width:inherit">
                            <button type="button" class="btn btn-select btn-lg btn-block btn__align" onclick="location.href = 'signup_complete.html'">Finish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>