
    <div class="container-fluid mobile__set">
        <div class="row">
            <div class="loginBox shadow-z-1">
                <div class="loginBox__div">
                    <h3 class="text-center">Join Now!</h3>
                    <hr style="background-color:#cdcdcd;height:1px;width:inherit">
                    <form class="form-horizontal">
                        <div class="group">
                            <input type="text" required />
                            <span class="bar"></span>
                            <label>Your Full Name</label>
                        </div>
                        <div class="group"> 
                            <input type="email" required/>
                            <span class="bar"></span>
                            <label>Your Email</label>
                        </div>
                        <div class="group">
                            <input type="password"  required/>
                            <span class="bar"></span>
                            <label>Password</label>
                        </div>
                    </form>
                    <div class="container-fluid">
                        <div class="row">
                            <button type="button" class="btn btn-select btn-lg btn-block text-muted" ng-click="goTo('/about')">Sign Up</button>
                        </div>
                    </div>
                    <h4 class="text-center text-muted">or sign up with</h4>
                    <div class="row">
                        <div class="social-buttons">
                            <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <hr class="loginBox__hr loginBox__hr__left">
                    <p class="text-center loginBox__p text-muted">or</p>
                    <hr class="loginBox__hr loginBox__hr__right">
                    <div class="container-fluid">
                    <div class="row" style="padding-top:29px;">
                            <h4 class="text-muted text-center">Already A User?</h4>
                    </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <button type="button" class="btn btn-grey btn-lg btn-block">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
